body{
  width: 400px;
  margin: auto;
}


.Post{
  padding: 30px;
  margin-top:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.post_image{
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  padding-right: 10px;
}

a.active{
  text-decoration: underline;
}